body {
  background-color: #FADBBD;
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 24px;
}

.header-menu img {
  width: 6%;
}

.header-menu a {
  text-decoration: none;
  color: #452402;
}

.header-menu a:hover {
  color: #705745;
  font-size: 26px;
}

.list-menu {
  list-style: none;
  display: flex;

}

.list-menu li {
  padding: 50px;
}

/*Sobre nós*/

.about-us {
  display: flex;
  flex-direction: column;
}

.about-us h1 {
  font-size: 34px;
  margin-bottom: 15px;
}

.about-us p {
  font-size: 20px;
}

.our-history {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #452402;
  color: #DDBE9F;
  padding: 40px 70px
}

.mission {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #452402;
  padding: 40px 70px
}

.vision {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #452402;
  color: #DDBE9F;
  padding: 40px 70px
}

/* -------- CONFEITARIA -------- */
.products-grid {
  background-color: #f3cfb1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.products-grid img{
      width: 25%;
      border-radius: 10%;
}

.products-grid img {
  padding: 27px;
}

.title-products-grid {
  color: #3d1e00;
  font-size: 34px;
  margin-top: 20px;
}

.first-products-grid {
  align-items: center;
  justify-content: center;
  display: flex;
}

.second-products-grid {
  align-items: center;
  justify-content: center;
  display: flex;
}


/* -------- DIVISOR -------- */

.separation-section-products-feedback {
  background-color: #705745;
  width: 100%;
  height: 2px;
  border-top-style: groove;
  margin: 0;
}

/* -------- FEEDBACKS -------- */

.feedback {
  background-color: #FADBBD;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
}

.feedback img {
  padding: 27px;
}

.title-feedback {
  color: #3d1e00;
  font-size: 34px;
  margin-top: 20px;
}

.images-feedback {
  align-items: center;
  justify-content: center;
  display: flex;
}

.form-email{
align-items: center ;
text-align: center;

}

.class-input-form{
align-items: center ;
text-align: center;

}

.class-input-form-container-message-client {
align-items: center ;
text-align: center;

}

/* ---------- Input com textos ---------- */
.input-form-style-class{
  
  border-radius: 10px;
  width: 240px;
  height: 40px;
  
}

.nome-input{
  font-size: 26px;
  color:#3d1e00 ;
}

.assunto-input{
  font-size: 26px;
  color:#3d1e00 ;
}

.email-input{
  font-size: 26px;
  color:#3d1e00 ;
}

.msg-input{
font-size: 26px;
color:#3d1e00 ;
}

.button-submit{
 
  border-radius: 10px;
  width: 70px;
  height: 40px;
  background-color:#705745;
  color:#FADBBD ;
  
}

button:hover {
  animation-name: pulsar;
  animation-duration: 2s; /* Duração da animação */
  animation-timing-function: ease-in-out;
  background-color: #452402;
}

.Feedback-text
{
  font-size: 50px;
}






/* ---------- INSTAGRAM ---------- */


/*-------------FOOTER----------------*/

.background-static-cards-informations {
  height: 90px;
  background-color: #ADBCA9;
}

.cards-static-informations-all {
  display: flex;
  position: relative;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  margin: 10px 35px;
  width: 90%;
  bottom: 79px;
  gap: 15px;
}

.cards-informations {
  height: 0;

}

.cards-static-informations {
  background-color: #705745;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 80px 15px 30px;
  display: flex;
  font-size: 15px;
}

.cards-static-informations img {
  width: 20%;
  height: 25%;
  padding: 0 0 0 10px;
}

.description-cards-static-informations {
  padding: 10px;
}

.container-footer {
  margin-top: 18%;
  display: flex;
  background-color: #705745;
  gap: 30px;
  padding: 10px 35px;
}





.cnpj-development-footer {
  justify-content: center;
  gap: 12px;
}

.cnpj-development-footer p {
  max-width: 100%;
  font-size: 10px;
}

.cnpj-development-footer a {
  max-width: 100%;
  font-size: 10px;
}

.payment-methods {
  display: flex;
  gap: 35px;
  align-items: center;
  max-width: 100%;
  width: 80%;
}